/***
BotÃµes
***/
.btn {
	float: left;
    height: 45px;
    padding: 0 10px;
    margin-right: 10px;
    border-radius: 0;
    border: none;
    color: #fff;
    cursor: pointer;
    text-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    font: normal 11px/45px "ralewayMedium",arial;
}

